@model IEnumerable<NinthProject.Models.Groups>

@{
    ViewData["Title"] = "Groups";
}

<h1>Groups List</h1>

<p>
    <a asp-action="Create">Create New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.CourseId)
               
            </td>
            <td>
                 <a asp-contoller="Student" asp-action="RelatedStudents" asp-route-id="@item.GroupId">
                @Html.DisplayFor(modelItem => item.GroupName)
                 </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
