@model IEnumerable<NinthProject.Models.Courses>

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses List</h1>

<p>
    <a asp-action="Create">Create New Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-contoller="Group" asp-action="RelatedGroups" asp-route-id="@item.CourseId">
                @Html.DisplayFor(modelItem => item.CourseName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
